---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

import videoSrc from "@/assets/websites-promo.mp4";
import "../assets/styles/fonts.css"
import Brands from "@/components/Brands.astro";


---

<MainLayout>
  <div class="w-[100%] min-h-screen">
    <div class="max-w-[85rem] mx-auto flex flex-col md:flex-row items-center justify-center text-white ">
      <!-- LEFT SECTION  -->
      <div class="w-[100%] md:w-[50%] py-40">
        <div class="flex flex-col items-start justify-center">
          <p class="mona text-[3.4rem]">
            Build any product 
          </p>
          <p class="flex items-center justify-end gap-10">
            <span class="mona text-[3.4rem] leading-[4rem]">
             dashboard in a day
            </span>
            <!-- <span class="flex flex-col justify-center h-full w-full mona">
              <span class="text-[1vw] mt-3">
                which increases the number of 
              </span>
              <span>
                applications for your business
              </span>
            </span> -->
          </p>
          <p class="text-[#b4b4b4] mt-8 w-[80%] mona"> 
            Suprdash stands out for its expertise in crafting custom web solutions that are tailored to meet your business needs. Our focus on cutting-edge technologies like Astro and Next.js ensures that your website is not only fast and responsive but also scalable for future growth. 
          </p>
          <a href="/contact" class="mt-12 px-5 py-3 rounded-full border border-white flex items-center justify-center gap-4">
            <span class="mona">
              Contact Us
            </span>
            <span class=" w-8 h-8 rounded-full bg-white flex items-center justify-center text-black">
              &gt;
            </span>
          </a>
        </div>
      </div>
      <!-- RIGHT SECTION -->
      <div class="w-[100%] md:w-[50%]">
        <div class="w-full min-h-[400px] rounded-2xl bg-white flex items-center justify-center">
          <video src={videoSrc} autoplay muted loop class="w-[90%] h-full"></video>
        </div>
        
      </div>
    </div>


    <!--testimonial section -->
    <TestimonialsSection
    title="Fast-Track Your Projects"

    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />
  </div>

  <Brands client:load />
</MainLayout>
